In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("usgs_data/earthquakes_unificado.csv")

df.head()

,time,updated,mag,magType,place,type,status,tsunami,sig,net,code,ids,sources,rms,gap,dmin,latitude,longitude,depth
0,-2208574800000,1744935416005,7.0,ms,"Southern Sumatra, Indonesia",earthquake,reviewed,0,754,cent,19000105190000000,",cent19000105190000000,",",cent,",NaN,NaN,NaN,-3.0,102.0,NaN
1,-2208091980000,1745016915621,7.0,ms,Bismarck Sea,earthquake,reviewed,0,754,cent,19000111090700000,",cent19000111090700000,",",cent,",NaN,NaN,NaN,-5.0,148.0,NaN
2,-2207977200000,1707262928811,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000112171500000,",official19000112171500000,",",official,",NaN,NaN,NaN,60.0,-140.0,NaN
3,-2207323620000,1745105794400,7.3,mw,"Jalisco, Mexico",earthquake,reviewed,0,820,cent,19000120063300000,",cent19000120063300000,",",cent,",NaN,NaN,NaN,20.0,-105.0,NaN
4,-2206641600000,1707263285835,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000128041500000,",official19000128041500000,",",official,",NaN,NaN,NaN,60.0,-140.0,NaN

In [4]:
df.isnull().sum()

time               0
updated            0
mag           170964
magType       182006
place            314
type               0
status             0
tsunami            0
sig                0
net                0
code               0
ids                0
sources            0
rms           222649
gap          1251848
dmin         1991633
latitude           0
longitude          0
depth           1212
dtype: int64

In [5]:
df["time"] = pd.to_datetime(df["time"], unit="ms", errors="coerce")
df["updated"] = pd.to_datetime(df["updated"], unit="ms", errors="coerce")

In [8]:
df.head(50)

,time,updated,mag,magType,place,type,status,tsunami,sig,net,code,ids,sources,rms,gap,dmin,latitude,longitude,depth
0,1900-01-05 19:00:00,2025-04-18 00:16:56.005,7.00,ms,"Southern Sumatra, Indonesia",earthquake,reviewed,0,754,cent,19000105190000000,",cent19000105190000000,",",cent,",NaN,NaN,NaN,-3.00,102.00,NaN
1,1900-01-11 09:07:00,2025-04-18 22:55:15.621,7.00,ms,Bismarck Sea,earthquake,reviewed,0,754,cent,19000111090700000,",cent19000111090700000,",",cent,",NaN,NaN,NaN,-5.00,148.00,NaN
2,1900-01-12 17:00:00,2024-02-06 23:42:08.811,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000112171500000,",official19000112171500000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
3,1900-01-20 06:33:00,2025-04-19 23:36:34.400,7.30,mw,"Jalisco, Mexico",earthquake,reviewed,0,820,cent,19000120063300000,",cent19000120063300000,",",cent,",NaN,NaN,NaN,20.00,-105.00,NaN
4,1900-01-28 04:00:00,2024-02-06 23:48:05.835,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000128041500000,",official19000128041500000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
5,1900-01-31 19:22:00,2025-04-26 21:47:57.256,7.50,mj,Sea of Okhotsk,earthquake,reviewed,0,865,cent,19000131192200000,",cent19000131192200000,",",cent,",NaN,NaN,NaN,48.00,146.00,450.0
6,1900-02-16 22:10:00,2024-02-06 23:50:10.659,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,ushis,387,",ushis387,",",ushis,",NaN,NaN,NaN,60.00,-140.00,NaN
7,1900-04-09 14:00:00,2023-12-03 23:47:09.672,3.40,mfa,"Near Berea, Ohio",quarry blast,automatic,0,178,ushis,388,",ushis388,",",ushis,",NaN,NaN,NaN,41.37,-81.85,0.0
8,1900-04-30 22:41:14,2023-12-04 00:47:36.941,4.50,ml,"Near Aromas, California",earthquake,reviewed,0,312,ushis,389,",ushis389,",",ushis,",NaN,NaN,NaN,36.90,-121.60,NaN
9,1900-05-11 17:23:00,2025-04-26 22:20:13.984,7.00,mj,"Northern Honshu, Japan",earthquake,reviewed,0,754,cent,19000511172300000,",cent19000511172300000,",",cent,",NaN,NaN,NaN,38.70,141.10,5.0
10,1900-06-21 20:52:00,2025-04-19 23:59:13.005,7.20,mw,Costa Rica,earthquake,reviewed,0,798,cent,19000621205200000,",cent19000621205200000,",",cent,",NaN,NaN,NaN,10.00,-85.50,NaN
11,1900-07-29 06:59:00,2025-04-20 21:05:44.528,7.60,mw,Santa Cruz Islands,earthquake,reviewed,0,889,cent,19000729065900000,",cent19000729065900000,iscgem16957713,",",cent,iscgem,",NaN,NaN,NaN,-10.00,165.00,NaN
12,1900-08-01 07:45:00,2023-12-05 01:25:58.207,4.40,mfa,"Near Eureka, Utah",earthquake,reviewed,0,298,ushis,390,",ushis390,",",ushis,",NaN,NaN,NaN,40.00,-112.10,NaN
13,1900-08-08 01:30:00,2024-02-06 23:52:24.248,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000808014500000,",official19000808014500000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
14,1900-08-09 02:45:00,2024-02-06 23:54:17.053,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19000809025500000,",official19000809025500000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
15,1900-08-10 04:40:00,2025-03-28 22:25:49.357,NaN,NaN,"Southwestern Yukon, Canada",earthquake,reviewed,0,0,official,19000810051000000,",official19000810051000000,",",official,",NaN,NaN,NaN,61.00,-137.00,NaN
16,1900-08-10 08:05:00,2025-03-29 00:30:41.940,NaN,NaN,"Southwestern Yukon, Canada",earthquake,reviewed,0,0,official,19000810083000000,",official19000810083000000,",",official,",NaN,NaN,NaN,61.00,-137.00,NaN
17,1900-09-17 21:45:00,2025-04-20 21:32:22.151,7.10,mw,Bismarck Sea,earthquake,reviewed,0,776,cent,19000917214500000,",cent19000917214500000,",",cent,",NaN,NaN,NaN,-5.00,148.00,NaN
18,1900-10-03 00:15:00,2024-01-07 00:56:07.342,NaN,NaN,"Near Cidra, Puerto Rico",earthquake,reviewed,0,0,eqh,19001003001500000,",eqh19001003001500000,",",eqh,",NaN,NaN,NaN,18.20,-66.20,NaN
19,1900-10-07 00:00:00,2024-01-01 09:02:42.539,NaN,NaN,"Near Tyonek, Alaska",not existing,reviewed,0,0,eqh,19001007000000000,",eqh19001007000000000,",",eqh,",NaN,NaN,NaN,61.00,-151.00,NaN
20,1900-10-09 12:28:30,2024-12-31 01:27:41.842,7.86,mw,"Kodiak Island region, Alaska",earthquake,reviewed,0,950,official,19001009122400000,",official19001009122400000,ushis391,",",official,ushis,",NaN,NaN,NaN,57.40,-151.00,20.0
21,1900-10-12 15:25:00,2024-12-31 01:26:40.168,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001012152500000,",official19001012152500000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
22,1900-10-14 12:40:00,2024-12-31 01:29:24.802,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001014124000000,",official19001014124000000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
23,1900-10-14 15:25:00,2024-12-31 01:30:43.586,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001014152500000,",official19001014152500000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
24,1900-10-15 18:10:00,2024-12-31 01:32:22.353,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001015181000000,",official19001015181000000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
25,1900-10-15 18:25:00,2024-12-31 01:34:16.492,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001015182500000,",official19001015182500000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
26,1900-10-23 13:10:00,2024-12-31 01:35:40.939,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19001023131000000,",official19001023131000000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
27,1900-10-29 09:11:00,2025-04-25 00:33:35.271,7.70,mw,Near the coast of Venezuela,earthquake,reviewed,0,912,cent,19001029091100000,",cent19001029091100000,iscgem16957719,",",cent,iscgem,",NaN,NaN,NaN,11.00,-66.00,NaN
28,1900-10-31 16:15:00,2024-01-06 01:00:28.368,3.50,mint,"Near Jacksonville, Florida",earthquake,reviewed,0,188,eqh,19001031161500000,",eqh19001031161500000,",",eqh,",NaN,NaN,NaN,30.40,-81.70,NaN
29,1900-11-09 13:12:00,2025-04-22 20:17:09.359,7.00,ms,Near the coast of El Salvador,earthquake,reviewed,0,754,cent,19001109161000000,",cent19001109161000000,",",cent,",NaN,NaN,NaN,13.00,-90.00,NaN
30,1900-11-24 07:57:00,2025-04-23 23:45:17.013,7.00,ms,Kuril Islands,earthquake,reviewed,0,754,cent,19001124075700000,",cent19001124075700000,",",cent,",NaN,NaN,NaN,43.50,148.00,35.0
31,1900-12-17 14:00:00,2024-03-01 00:40:17.534,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19001217143000000,",official19001217143000000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
32,1900-12-25 05:09:00,2025-04-24 00:20:45.788,7.10,mw,"Off the coast of Hokkaido, Japan",earthquake,reviewed,0,776,cent,19001225050900000,",cent19001225050900000,",",cent,",NaN,NaN,NaN,43.00,146.00,35.0
33,1900-12-27 10:15:00,2023-12-16 09:52:11.094,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,ushis,392,",ushis392,",",ushis,",NaN,NaN,NaN,58.00,-150.00,NaN
34,1901-01-07 00:29:00,2025-04-26 00:30:45.049,7.20,mw,Near the coast of Ecuador,earthquake,reviewed,0,798,cent,19010107002900000,",cent19010107002900000,",",cent,",NaN,NaN,NaN,-2.00,-82.00,NaN
35,1901-01-17 18:30:00,2024-12-31 01:40:50.069,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19010117183000000,",official19010117183000000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
36,1901-01-18 04:39:00,2025-04-26 00:28:59.540,7.10,mw,"British Columbia-Yukon border, Canada",earthquake,reviewed,0,776,cent,19010118043900000,",cent19010118043900000,",",cent,",NaN,NaN,NaN,60.00,-135.00,NaN
37,1901-01-19 16:00:00,2024-03-01 00:45:00.687,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19010119160000000,",official19010119160000000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
38,1901-01-24 14:00:00,2024-03-01 00:46:38.533,NaN,NaN,"Yakutat Bay, Alaska Earthquakes (Aftershock)",earthquake,reviewed,0,0,official,19010124140000000,",official19010124140000000,",",official,",NaN,NaN,NaN,60.00,-140.00,NaN
39,1901-03-01 00:00:00,2024-03-08 11:27:21.684,NaN,NaN,"Near Tanana, Alaska",earthquake,reviewed,0,0,ushis,19010301000000000,",ushis19010301000000000,",",ushis,",NaN,NaN,NaN,65.00,-152.00,NaN
40,1901-03-03 07:45:00,2023-12-23 01:31:35.183,6.40,ms,"Near Parkfield, California",earthquake,reviewed,0,630,ushis,393,",ushis393,",",ushis,",NaN,NaN,NaN,36.00,-120.50,NaN
41,1901-04-04 16:30:00,2024-12-31 01:42:40.767,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19010404163000000,",official19010404163000000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
42,1901-04-05 23:30:00,2025-04-26 00:26:49.739,7.30,mw,Kuril Islands,earthquake,reviewed,0,820,cent,19010405233000000,",cent19010405233000000,",",cent,",NaN,NaN,NaN,44.50,149.00,35.0
43,1901-05-17 06:00:00,2024-03-02 22:48:34.952,4.20,mfa,"Near Portsmouth, Ohio",earthquake,reviewed,0,271,ushis,394,",ushis394,",",ushis,",NaN,NaN,NaN,38.75,-83.00,NaN
44,1901-05-25 00:32:00,2025-04-26 00:25:18.705,7.20,mw,Solomon Islands,earthquake,reviewed,0,798,cent,19010525003200000,",cent19010525003200000,",",cent,",NaN,NaN,NaN,-10.00,160.00,NaN
45,1901-05-31 05:15:00,2024-12-31 01:44:05.467,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19010531051500000,",official19010531051500000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN
46,1901-06-15 09:34:00,2025-04-26 22:43:25.359,7.00,mj,"Near the east coast of Honshu, Japan",earthquake,reviewed,0,754,cent,19010615093400000,",cent19010615093400000,",",cent,",NaN,NaN,NaN,39.00,143.00,35.0
47,1901-06-24 07:02:00,2025-04-26 23:10:10.655,7.20,mw,"Ryukyu Islands, Japan",earthquake,reviewed,0,798,cent,19010624070200000,",cent19010624070200000,",",cent,",NaN,NaN,NaN,28.00,130.00,35.0
48,1901-07-12 18:30:00,2024-03-08 09:02:44.685,NaN,NaN,"Near Fairbanks, Alaska",earthquake,reviewed,0,0,official,19010712183000000,",official19010712183000000,",",official,",NaN,NaN,NaN,64.80,-147.80,NaN
49,1901-07-24 02:25:00,2024-12-31 01:45:38.743,NaN,NaN,"Kodiak Island region, Alaska",earthquake,reviewed,0,0,official,19010724022500000,",official19010724022500000,",",official,",NaN,NaN,NaN,58.00,-152.00,NaN

In [9]:
df[df['depth'] < 0]['depth'].describe()

count    232731.000000
mean         -0.904527
std           0.707692
min         -10.000000
25%          -1.211000
50%          -0.775000
75%          -0.357000
max          -0.001000
Name: depth, dtype: float64

In [10]:
# Ver Relaciones entre las columnas de mag. depth, gap y rms
df[['mag','depth','gap','rms']].corr()

            mag     depth       gap       rms
mag    1.000000  0.352753 -0.042484  0.605902
depth  0.352753  1.000000  0.003781  0.298345
gap   -0.042484  0.003781  1.000000  0.001737
rms    0.605902  0.298345  0.001737  1.000000

In [11]:
df.shape

(4761281, 19)

In [14]:
df['time'].isna().sum()

np.int64(0)

In [38]:
for col in df.columns:
    total_null = df[col].isnull().sum()
    resultado = total_null / len(df) *100
    print(f"Columna {col}: {total_null} valores nulos | porcentaje de nulos {resultado:.2f}%\n")

Columna time: 0 valores nulos | porcentaje de nulos 0.00%

Columna updated: 0 valores nulos | porcentaje de nulos 0.00%

Columna mag: 47584 valores nulos | porcentaje de nulos 1.72%

Columna magType: 0 valores nulos | porcentaje de nulos 0.00%

Columna place: 310 valores nulos | porcentaje de nulos 0.01%

Columna type: 0 valores nulos | porcentaje de nulos 0.00%

Columna status: 0 valores nulos | porcentaje de nulos 0.00%

Columna tsunami: 0 valores nulos | porcentaje de nulos 0.00%

Columna sig: 0 valores nulos | porcentaje de nulos 0.00%

Columna net: 0 valores nulos | porcentaje de nulos 0.00%

Columna code: 0 valores nulos | porcentaje de nulos 0.00%

Columna ids: 0 valores nulos | porcentaje de nulos 0.00%

Columna sources: 0 valores nulos | porcentaje de nulos 0.00%

Columna rms: 764 valores nulos | porcentaje de nulos 0.03%

Columna gap: 352 valores nulos | porcentaje de nulos 0.01%

Columna latitude: 0 valores nulos | porcentaje de nulos 0.00%

Columna longitude: 0 valores nulos | porcentaje de nulos 0.00%

Columna depth: 2 valores nulos | porcentaje de nulos 0.00%

In [19]:
df['magType'].isnull().sum()

np.int64(182006)

In [ ]:
df['magType'].value_counts()

magType
ml            2170698
md            1415993
mb             475927
mc             250939
Unknown        182008
mh             119658
mw              28156
mdl             20566
mwc             20341
Md              14673
mww             12961
mblg            12185
mwr              9246
m                8639
ms               4846
ma               4029
mwb              3163
mb_lg            3121
mlg              1460
ml(texnet)       1078
Ml                623
mlr               263
mun               186
fa                 93
lg                 84
mlv                77
uk                 67
mfa                54
mint               40
mB                 30
Mb                 29
no                 23
mwp                 9
ms_20               5
mj                  4
hn                  4
ms_vx               2
me                  1
Name: count, dtype: int64

In [21]:
# En la base de datos ya viene un valor Unknown, usaremos ese valor para los valores NaN
df['magType'] = df['magType'].fillna('Unknown')

In [29]:
df['gap'].mean()

np.float64(127.9868823240892)

In [31]:
df['gap'].isnull().sum()

np.int64(1251848)

In [37]:
# Eliminar columna dmin
df.drop(columns=['dmin'], inplace=True)

In [40]:
# Crear columna de decada a partir de time
df['decada'] = df['time'].dt.year // 10 * 10

In [5]:
1903//10

190

In [45]:
df['decada'].isna().sum()

np.int64(0)

In [46]:
df.to_csv('data.csv', index=False)